:root {

  rgba(241, 80, 150, 1) 0%,
		rgba(228, 151, 109, 1) 
  --ui-opacity: 1;
  --s: -50%;
  --p: -0.05;
	--clr-black: rgba(60, 80, 50, 255);
	--clr-sun: rgba(246, 243, 198, 255);
	--gradient-bg: linear-gradient(
		180deg,
		rgb(9,3,28) calc(00% + var(--s)),
		rgb(19,13,48) calc(600% + var(--s)),
		rgb(39,33,78) calc(700% + var(--s)),
		rgb(85,89,142) calc(800% + var(--s)),
		rgb(255,239,122) calc(900% + var(--s)),
		rgb(251, 100, 130) calc(950% + var(--s)),
    rgba(228, 151, 109, 1) calc(1000% + var(--s)),
    rgba(241, 80, 150, 1) calc(1100% + var(--s)),
    rgba(228, 151, 109, 1) calc(1200% + var(--s)),
    rgba(241, 80, 150, 1) calc(1300% + var(--s)),
    rgba(228, 151, 109, 1) calc(1400% + var(--s)),
    rgba(241, 80, 150, 1) calc(1500% + var(--s)),
    rgba(228, 151, 109, 1) calc(1600% + var(--s)),
    rgba(241, 80, 150, 1) calc(1700% + var(--s)),
    rgba(228, 151, 109, 1) calc(1800% + var(--s)),
		rgb(251, 100, 130) calc(1880% + var(--s)),
		rgb(211, 80, 150) calc(1915% + var(--s)),
		rgb(139,43,128) calc(1950% + var(--s)),
		rgb(39,33,78) calc(1980% + var(--s)),
		rgb(19,13,48) calc(2200% + var(--s)),
		rgb(9,3,28) calc(2330% + var(--s))
	);
	--clr-white: rgba(254, 250, 239, 255);
	--clr-mountain1: rgba(105, 96, 101, 255);
	--clr-mountain2: rgba(140, 138, 160, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

linear-gradient(225deg, 
    rgba(255,255,255,1) calc(27.59%/var(--s)), 
    rgba(250,0,0,1)   calc(27.59%/var(--s)), 
    rgba(108,22,95,1) calc(76.35%/var(--s)), 
    rgba(39,32,32,1)  calc(100%/var(--s))
  );

body,
body::after,
body::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  overflow: hidden;
}

body {
	min-height: 100vh;
	overflow: hidden;
}

.sky {
	background: var(--gradient-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front {
	display: flex;
	position: fixed;
	bottom: calc(-70vh / 2);
	height: 50vh;
	z-index: 999;
  left: 0;
  right: 0;
}

.left-slope,
.right-slope {
	flex: 1;
	height: 150%;
	background-color: var(--clr-black);
}

.left-slope {
	transform: skewY(5deg);
  margin-right: -1px;
}

.right-slope {
	transform: skewY(-5deg);
  margin-left: -1px;
}

.mountain1 > .left,
.mountain1 > .right {
	position: fixed;
	height: 28vh;
	bottom: calc(-20vh / 4);
	width: 55vmin;
	background-color: var(--clr-mountain1);
}

.mountain1 > .left {
	transform-origin: left top;
	transform: rotate(35deg);
}

.mountain1 > .right {
	right: 0;
	transform-origin: right top;
	transform: rotate(-35deg);
}

.mountain2 > .left,
.mountain2 > .right {
  position: fixed;
	height: 28vh;
	bottom: calc(-20vh / 4);
	width: 90vmin;
	background-color: var(--clr-mountain2);
}

.mountain2 > .left {
	transform-origin: left top;
	transform: rotate(19deg);
}

.mountain2 > .right {
	right: 0;
	transform-origin: right top;
	transform: rotate(-19deg);
}

.sun {
	height: 17em;
	aspect-ratio: 1;
	position: fixed;
	left: 50%;
	bottom: calc(-49em - 43em * sin(7deg + calc(var(--p) * 0.5turn)));
	background-color: var(--clr-sun);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 0 1em rgba(246, 243, 198, 0.1),
  0 0 0 2em rgba(246, 243, 198, 0.1);
}

.moon {
  height: 5.2em;
  width: 5.2em;
  background-color: #ffffff;
  position: absolute;
  left: calc(5.2em + 10.4em * sin(calc(var(--p) * 0.5turn)));
  top: calc(5.2em + 10.4em * sin(calc(var(--p) * 0.5turn)));
  border-radius: 50%;
  background: radial-gradient(circle at 60% 60%, rgb(10, 25, 45) 33%, rgb(30, 45, 85) 180%);
  box-shadow: inset calc(var(--l) * -4.8em) calc(var(--l) * -2.7em) 0px rgb(242, 245, 255), 0 0 0 0.25em rgba(242, 245, 255, 0.2), 0 0 0 0.75em rgba(242, 245, 255, 0.1), 0 0 0 1.25em rgba(242, 245, 255, 0.05);
}

.ui {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  opacity: var(--ui-opacity);
}

.ui.right {
  min-width: 120px;
  text-align: center;
  right: 20px;
  left: auto;
}
