@keyframes tulip {
  0%,
  100% {
    transform: scale(0.2) rotate(2deg) rotateX(0deg) rotateY(-201deg);;
  }

  50% {
    transform: scale(0.2) rotate(-2deg) rotateX(2deg) rotateY(-200deg);;
  }
}

.flowers {
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: transparent;
  z-index: 9999;
}

.tulips {
  position: relative;
  width: 100%;
  height: 100%;
}

.tulip {
  width: 10px;
  animation: tulip 4s linear infinite;
  transform-origin: bottom center;
}

.tulip:nth-of-type(4n) {
  --stem-color: #25af59;
  --stem-leaf-color: #139a3e;
}

.tulip:nth-of-type(4n + 1) {
  --stem-color: #20984d;
  --stem-leaf-color: #118636;
}

.tulip:nth-of-type(4n + 2) {
  --stem-color: #1b8041;
  --stem-leaf-color: #0e702d;
}

.tulip:nth-of-type(4n + 3) {
  --stem-color: #1b8142;
  --stem-leaf-color: #107e33;
}

.tulip:nth-of-type(1) {
  animation-delay: 0s;
}

.tulip:nth-of-type(2) {
  animation-delay: -2s;
}

.tulip:nth-of-type(3) {
  animation-delay: -4s;
}

.tulip:nth-of-type(4) {
  animation-delay: -6s;
}

.tulip:nth-of-type(5) {
  animation-delay: -8s;
}

.tulip:nth-of-type(6) {
  animation-delay: -10s;
}

.tulip:nth-of-type(7) {
  animation-delay: -12s;
}

.tulip:nth-of-type(8) {
  animation-delay: -14s;
}

.tulip:nth-of-type(9) {
  animation-delay: -16s;
}

.tulip:nth-of-type(10) {
  animation-delay: -18s;
}

.tulip:nth-of-type(11) {
  animation-delay: -20s;
}

.tulip:nth-of-type(12) {
  animation-delay: -22s;
}

.tulip:nth-of-type(13) {
  animation-delay: -24s;
}

.tulip:nth-of-type(14) {
  animation-delay: -26s;
}

.tulip:nth-of-type(15) {
  animation-delay: -28s;
}

.tulip:nth-of-type(16) {
  animation-delay: -30s;
}

.tulip:nth-of-type(17) {
  animation-delay: -32s;
}

.tulip:nth-of-type(18) {
  animation-delay: -34s;
}

.tulip:nth-of-type(19) {
  animation-delay: -36s;
}

.tulip:nth-of-type(20) {
  animation-delay: -38s;
}

.tulip:nth-of-type(21) {
  animation-delay: -40s;
}

.tulip:nth-of-type(22) {
  animation-delay: -42s;
}

.tulip:nth-of-type(23) {
  animation-delay: -44s;
}

.tulip:nth-of-type(24) {
  animation-delay: -46s;
}

.tulip:nth-of-type(25) {
  animation-delay: -48s;
}

.tulip:nth-of-type(26) {
  animation-delay: -50s;
}

.tulip,
.stem,
.stemLeaf,
.tulipHead,
.tulipLeaf,
.tulipHair {
  position: absolute;
}

.stem {
  height: 200px;
  width: 10px;
  border-radius: 50px;
  background-color: var(--stem-color);
  left: 50%;
  bottom: 0;
  transform: scale(var(--size)) translateX(-50%);
  z-index: 0;
}


.stemLeaf {
  background-color: var(--stem-leaf-color);
  width: 60px;
  height: 60px;
}

.leaf {
  border-radius: 90% 0 90% 0;
}

.rightStemLeaf {
  top: 60%;
  width: 100px;
  transform: rotate(-10deg);
  left: -1px;
}

.leftStemLeaf {
  top: 20%;
  width: 80px;
  transform: rotate(90deg);
  left: -63px;
  z-index: -2;
}

.tulipHead {
  top: -159px;
  left: -102px;
  background-color: var(--color);
  width: 200px;
  height: 165px;
  border-radius: 0 0 50% 50%;
  z-index: 0;
  transform: rotate(var(--rotation));
}

.tulipLeaf {
  background-color: var(--dark-color);
  width: 40px;
  height: 40px;
  z-index: -1;
}

.rightTulipLeaf {
  transform: rotate(90deg);
  left: 4px;
  top: -20px;
}

.leftTulipLeaf {
  left: -33px;
  top: -20px;
}

.tulipHair {
  width: 0;
  height: 0;
  top: -60px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid var(--color);
}

.lightTulip {
  border-bottom: 60px solid var(--color);
}

.darkTulip {
  border-bottom: 60px solid var(--color);
  border-bottom: 32px solid var(--dark-color);
  top: -32px;
  z-index: -1;
}

.darkTulip-1 {
  left: 30px;
}

.darkTulip-2 {
  left: 110.7px;
}

.lightTulip-1 {
  transform: rotate(-27deg);
  top: -43px;
  left: -17px;
}

.lightTulip-2 {
  left: 70px;
}

.lightTulip-3 {
  transform: rotate(27deg);
  top: -43px;
  left: 156px;
}

.current-flower {
  padding: 0px 5px 10px 0px;
  margin-right: 20px;
  margin: 100px 35px 10px 30px;
  position: relative;
}

.current-flower .tulip {
  left: 0 !important;
  bottom: 0 !important;
  --size: 1 !important;
}
